fastapi
uvicorn
pydantic[email]
python-multipart
sqlalchemy
cryptography
loguru
PyMySQL
python-jose[cryptography]
passlib[bcrypt] 
face_recognition
numpy
pillow
dlib
opencv-python
scipy 
qiskit==0.45.2
qiskit-machine-learning==0.7.2
torch
scikit-learn
joblib 
tqdm
transformers 